* {
    padding:0;
    margin:0;
    font-family: Helvetica,Arial,sans-serifel
}

html {
    padding-top:30px;
}

a {
    text-decoration: none;
    color: #4183c4;
}

h1 a,h2 a {
    color:#000;
}

p {
    font-size: 14px;
    line-height: 1.6;
}

#sidebar {
    position:absolute;
    left:10px;
    top:100px;
    width:200px;
}

#main {
    margin-left:190px;
    width:800px;
    padding:30px;
    border:1px solid #cacaca;
    
}