* {
    padding:0;
    margin:0;
    font-family: Helvetica,Arial,sans-serifel
}

html {
    padding-top:30px;
}

blockquote {
    font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
    font-size: 12px;
    line-height: 1.2;
    padding:20px;
    border:#888 1px solid;
    background-color:#cacaca;
    
}

a {
    text-decoration: none;
    color: #4183c4;
}

h1 a,h2 a {
    color:#000;
}

p {
    font-size: 14px;
    line-height: 1.6;
}

body {
    margin-left:30px;
    
}

#header {
    margin-left:30px;
}

#miniHead {
    font-size:60%;
}


#sidebar {
    position:absolute;
    width:250px;
    right:20px;
    top:20px;
}

#posts {
    margin-top:40px;
    margin-left:50px;
    margin-bottom:40px;
    width:600px;
    padding:30px;
    border:1px solid #cacaca;
}

#post {
    padding:5px;
}

#postDate {
    display:inline;
    width:60px;
    margin-right:20px;
}

#postTitle {
    display:inline;
    width:400px;
}

#info {
    font-size:80%;
    margin-left:100px;
}

#post_details {
    font-size:80%;
}

#post_content {
    margin-top:20px;
}

#footer {
    margin-left:30px;
    margin-top:30px;
    position:fixed;
    right:10;
    bottom:5px;
}
